@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  background-color: #f9fafb;
}
html.dark {
  background-color: #111827;
}
body {
  background-color: inherit;
}

.leaflet-container {
  isolation: isolate;
}

.leaflet-container img.leaflet-tile,
.leaflet-container img.leaflet-marker-icon,
.leaflet-container img.leaflet-marker-shadow {
  max-width: none !important;
  max-height: none !important;
}

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-tile-pane {
  max-width: none !important;
}
